Importing necessary libararies

In [14]:
import numpy as np
import pandas as pd

Reading the Data

In [15]:
train = pd.read_excel("input_data.xlsx")

In [16]:
#viewing the head
train.head(5)

,Short description,Description,Caller,Assignment group
0,login issue,-verified user details.(employee# & manager na...,spxjnwir pjlcoqds,GRP_0
1,outlook,\r\n\r\nreceived from: hmjdrvpb.komuaywn@gmail...,hmjdrvpb komuaywn,GRP_0
2,cant log in to vpn,\r\n\r\nreceived from: eylqgodm.ybqkwiam@gmail...,eylqgodm ybqkwiam,GRP_0
3,unable to access hr_tool page,unable to access hr_tool page,xbkucsvz gcpydteq,GRP_0
4,skype error,skype error,owlgqjme qhcozdfx,GRP_0

In [17]:
#Finding the shape of the data
train.shape

(8500, 4)

In [18]:
#Finding the no of missing values 
train.isnull().sum()

Short description    8
Description          1
Caller               0
Assignment group     0
dtype: int64

In [19]:
train.describe()

       Short description Description             Caller Assignment group
count               8492        8499               8500             8500
unique              7481        7817               2950               74
top       password reset         the  bpctwhsn kzqsbmtp            GRP_0
freq                  38          56                810             3976

In [20]:
#Information of the data set given
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8500 entries, 0 to 8499
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Short description  8492 non-null   object
 1   Description        8499 non-null   object
 2   Caller             8500 non-null   object
 3   Assignment group   8500 non-null   object
dtypes: object(4)
memory usage: 265.8+ KB

In [21]:
#Finding the percentage of data/skewness of the data given
group_percent=(train["Assignment group"].value_counts(normalize=True)*100)
print(group_percent)

GRP_0     46.776471
GRP_8      7.776471
GRP_24     3.400000
GRP_12     3.023529
GRP_9      2.964706
            ...
GRP_35     0.011765
GRP_70     0.011765
GRP_64     0.011765
GRP_73     0.011765
GRP_67     0.011765
Name: Assignment group, Length: 74, dtype: float64

In [22]:
#Dropping the caller column
train=train.drop(["Caller"],axis=1)

In [25]:
#Finding the number of words
train['word_count'] = train['Description'].apply(lambda x: len(str(x).split(" ")))
train[['Description','word_count']].head()

                                         Description  word_count
0  -verified user details.(employee# & manager na...          29
1  \r\n\r\nreceived from: hmjdrvpb.komuaywn@gmail...          23
2  \r\n\r\nreceived from: eylqgodm.ybqkwiam@gmail...           9
3                      unable to access hr_tool page           5
4                                       skype error            3

In [26]:
train['word_count'] = train['Short description'].apply(lambda x: len(str(x).split(" ")))
train[['Short description','word_count']].head()

               Short description  word_count
0                    login issue           2
1                        outlook           1
2             cant log in to vpn           5
3  unable to access hr_tool page           5
4                   skype error            3

In [27]:
train['char_count'] = train['Short description'].str.len() ## this also includes spaces
train[['Short description','char_count']].head()

               Short description  char_count
0                    login issue        11.0
1                        outlook         7.0
2             cant log in to vpn        18.0
3  unable to access hr_tool page        29.0
4                   skype error         12.0

In [29]:
train['char_count'] = train['Short description'].str.len() ## this also includes spaces
train[['Short description','char_count']].head()

               Short description  char_count
0                    login issue        11.0
1                        outlook         7.0
2             cant log in to vpn        18.0
3  unable to access hr_tool page        29.0
4                   skype error         12.0

In [31]:
train['Short description']=train['Short description'].astype(object)

In [42]:
train['Description'] = train['Description'].fillna("")
train['Description'].head()

0    -verified user details.(employee# & manager na...
1    \r\n\r\nreceived from: hmjdrvpb.komuaywn@gmail...
2    \r\n\r\nreceived from: eylqgodm.ybqkwiam@gmail...
3                        unable to access hr_tool page
4                                         skype error
Name: Description, dtype: object

In [43]:
train['Short description'] = train['Short description'].fillna("")
train['Short description'].head()

0                      login issue
1                          outlook
2               cant log in to vpn
3    unable to access hr_tool page
4                     skype error
Name: Short description, dtype: object

In [44]:
#Coverting into lower case
train['Short description'] = train['Short description'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['Short description'].head()

0                      login issue
1                          outlook
2               cant log in to vpn
3    unable to access hr_tool page
4                      skype error
Name: Short description, dtype: object

In [45]:
train['Description'] = train['Description'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['Description'].head()

0    -verified user details.(employee# & manager na...
1    received from: hmjdrvpb.komuaywn@gmail.com hel...
2    received from: eylqgodm.ybqkwiam@gmail.com hi ...
3                        unable to access hr_tool page
4                                          skype error
Name: Description, dtype: object

In [46]:
#Removing punctuations
train['Description'] = train['Description'].str.replace('[^\w\s]','')
train['Description'].head()

0    verified user detailsemployee  manager name ch...
1    received from hmjdrvpbkomuaywngmailcom hello t...
2    received from eylqgodmybqkwiamgmailcom hi i ca...
3                        unable to access hr_tool page
4                                          skype error
Name: Description, dtype: object

In [47]:
train['Description'] = train['Description'].str.replace('[^\w\s]','')
train['Description'].head()

0    verified user detailsemployee  manager name ch...
1    received from hmjdrvpbkomuaywngmailcom hello t...
2    received from eylqgodmybqkwiamgmailcom hi i ca...
3                        unable to access hr_tool page
4                                          skype error
Name: Description, dtype: object

In [48]:
train['Short description'] = train['Short description'].str.replace('[^\w\s]','')
train['Short description'].head()

0                      login issue
1                          outlook
2               cant log in to vpn
3    unable to access hr_tool page
4                      skype error
Name: Short description, dtype: object

In [50]:
#Removing stop words
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\karth\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [51]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['Short description'] = train['Short description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['Short description'].head()

0                   login issue
1                       outlook
2                  cant log vpn
3    unable access hr_tool page
4                   skype error
Name: Short description, dtype: object

In [52]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['Description'] = train['Description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['Description'].head()

0    verified user detailsemployee manager name che...
1    received hmjdrvpbkomuaywngmailcom hello team m...
2    received eylqgodmybqkwiamgmailcom hi cannot lo...
3                           unable access hr_tool page
4                                          skype error
Name: Description, dtype: object

In [53]:
freq = pd.Series(' '.join(train['Short description']).split()).value_counts()[:10]
freq

job              977
job_scheduler    959
password         875
erp              849
failed           827
unable           711
reset            692
account          497
issue            479
access           431
dtype: int64

In [56]:
freq = pd.Series(''.join(train['Description']).split()).value_counts()[:10]
freq

please                       1719
yesnona                      1567
user                         1028
job                           992
job_scheduler                 968
monitoring_toolcompanycom     961
password                      945
failed                        903
erp                           849
company                       789
dtype: int64

In [57]:
freq = list(freq.index)
train['Description'] = train['Description'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['Description'].head()

0    verified detailsemployee manager name checked ...
1    received hmjdrvpbkomuaywngmailcom hello team m...
2    received eylqgodmybqkwiamgmailcom hi cannot lo...
3                           unable access hr_tool page
4                                          skype error
Name: Description, dtype: object

In [58]:
freq = pd.Series(' '.join(train['Description']).split()).value_counts()[-10:]
freq

hp4050           1
gmt530           1
sekarf4ts        1
infrastruture    1
awb              1
wim              1
3115968739       1
versuche         1
rxutkyha         1
inc1548324       1
dtype: int64

In [59]:
freq = list(freq.index)
train['Description'] = train['Description'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['Description'].head()

0    verified detailsemployee manager name checked ...
1    received hmjdrvpbkomuaywngmailcom hello team m...
2    received eylqgodmybqkwiamgmailcom hi cannot lo...
3                           unable access hr_tool page
4                                          skype error
Name: Description, dtype: object

In [62]:
pip install -U textblob

Collecting textblob
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in c:\users\karth\anaconda3\lib\site-packages (from textblob) (3.4.5)
Requirement already satisfied, skipping upgrade: six in c:\users\karth\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.14.0)
Installing collected packages: textblob
Successfully installed textblob-0.15.3
Note: you may need to restart the kernel to use updated packages.

In [70]:
#spell correction
from textblob import TextBlob
train['Short description'][:5].apply(lambda x: str(TextBlob(x).correct()))

0                   login issue
1                       outlook
2                   can log van
3    unable access hr_tool page
4                    type error
Name: Short description, dtype: object

In [71]:
from textblob import TextBlob
train['Description'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    verified detailsemployee manager name checked ...
1    received hmjdrvpbkomuaywngmailcom hello team m...
2    received eylqgodmybqkwiamgmailcom hi cannot lo...
3                           unable access hr_tool page
4                                           type error
Name: Description, dtype: object

In [40]:
#stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['Short description'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                      login issu
1                         outlook
2              cant log in to vpn
3    unabl to access hr_tool page
4                     skype error
Name: Short description, dtype: object

In [72]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['Description'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0    verifi detailsemploye manag name check name ad...
1    receiv hmjdrvpbkomuaywngmailcom hello team mee...
2    receiv eylqgodmybqkwiamgmailcom hi cannot log ...
3                            unabl access hr_tool page
4                                          skype error
Name: Description, dtype: object

In [74]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\karth\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [75]:
#lemantization
from textblob import Word
train['Short description'] = train['Short description'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['Short description'].head()

0                   login issue
1                       outlook
2                  cant log vpn
3    unable access hr_tool page
4                   skype error
Name: Short description, dtype: object

In [76]:
from textblob import Word
train['Description'] = train['Description'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['Description'].head()

0    verified detailsemployee manager name checked ...
1    received hmjdrvpbkomuaywngmailcom hello team m...
2    received eylqgodmybqkwiamgmailcom hi cannot lo...
3                           unable access hr_tool page
4                                          skype error
Name: Description, dtype: object

In [77]:
#Creating Bag of words
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(train['Description'])
train_bow

<8500x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 73265 stored elements in Compressed Sparse Row format>

In [78]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(train['Short description'])
train_bow

<8500x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 31055 stored elements in Compressed Sparse Row format>

In [81]:
v1=train["Description"]
v2=train["Short description"]

In [89]:
from math import*
 
def square_rooted(x):
    return round(sqrt(sum([a*a for a in x])),3)
 
def cosine_similarity(x,y):
   numerator = sum(a*b for a,b in zip(x,y))
   denominator = square_rooted(x)*square_rooted(y)
   return round(numerator/float(denominator),3)
 
print(cosine_similarity([0,3,4,5],[7,6,3,-1]))

0.363